language: erlang

sudo: required

before_install:
  - git clone https://github.com/erlang/rebar3.git
  - pushd .
  - cd rebar3
  - ./bootstrap
  - sudo mv rebar3 /usr/local/bin/
  - popd
  - sudo apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
  - sudo sh -c "echo deb https://apt.dockerproject.org/repo ubuntu-precise main > /etc/apt/sources.list.d/docker.list"
  - sudo apt-get update
  - sudo apt-get install docker-engine
  - sudo docker info

notifications:
  email: false

otp_release:
  - 20.0
  - 19.3
  - 18.2.1

script:
  - make
  - make xref
  - make edoc
  - make dialyze
  - make KAFKA_VERSION=1.1 testbed && make eunit
  - make KAFKA_VERSION=0.10 testbed && make eunit
  - make KAFKA_VERSION=0.11 testbed && make eunit
  - make KAFKA_VERSION=0.9 testbed && export KPRO_TEST_KAFKA_09=1 && make eunit

