{deps, [{crc32cer, "1.0.2"}]}.

{profiles,
  [ { test,
      [ {deps,
        [ {snappyer, "1.2.9"},
          {lz4b, "0.0.13"},
          {ezstd, "1.1.0"}
        ]}
      ]
    }
  ]
}.

{erl_opts, [ error
           , warn_unused_vars
           , warn_shadow_vars
           , warn_unused_import
           , warn_obsolete_guard
           , debug_info
           , {d, 'APPLICATION', kafka_protocol}
           ]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
{edoc_opts, [{preprocess, true}]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls,
               deprecated_functions]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc, rebar3_codecov]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

{ex_doc, [
    {extras, [
          {"changelog.md", #{title => "ChangeLog"}},
          {"README.md", #{title => "Overview"}},
          {"LICENSE", #{title => "License"}},
          {"NOTICE", #{title => "Notice"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://hexdocs.pm/kafka_protocol"},
    {source_url, "https://github.com/kafka4beam/kafka_protocol"},
    {api_reference, false}
]}.
